# Trabalho final

In [1]:
import pandas as pd
import numpy as np
from scipy.spatial import distance
import matplotlib.pyplot as plt

# TOPSIS

In [2]:
def norm_euclidiana(frame, crit):
    # Matriz de decisão 
    decisao = np.array(frame[frame.columns[1:]]).T
    
    X = [] 
    a = 0
    for i, m in zip(decisao, crit):
        # Armazenar o valores obtidos
        c = []
        # Encontrar valor de max e min
        raiz = (sum(i*i)**(1/2))
        if m: # Se o critério for max
            for j in i:
                c.append(j/raiz)
        else:  # Se o critério for Min
            for j in i:
                c.append(1-(j/raiz))
        X.append(c)
    X = np.transpose(X)
    return X

In [3]:
def topsis(crit, peso, frame):
    # Verificar se o código já foi utilizado
    primeira_col = frame.columns[0]
    for i in frame.columns: 
        if i == 'Ordenamento_saw':
            frame.drop(columns=['Ordenamento_saw'], inplace=True)
        if i == 'Ordenamento_topsis':
            frame.drop(columns=['Ordenamento_topsis'], inplace=True)
        else:
            pass
    
    # Passo 1: Calcular a matriz de decisão normalizada (normalização Euclidiana) 
    X = norm_euclidiana(frame=frame, crit=crit)
    
    # Passo 2: Calcular a matriz normalizada ponderada pelos pesos w
    v = []
    for i in X:
        v.append(i*peso)
    v = np.array(v)
    v = np.transpose(v)
    
    # Passo 3: Definir uma alternativa ideal positiva A+ e uma alternativa negativa A-
    A_positivo = []
    A_negativo = []
    for j in v:
        A_positivo.append(max(j))
        A_negativo.append(min(j))
    v = np.transpose(v)
    
    # Passo 4: Calcular as distâncias d+ e d- de ad alternativa para as as alternativas ideias 
    d_positivo = []
    d_negativo = []
    for jj in v:
        d_positivo.append(distance.euclidean(jj, A_positivo))
        d_negativo.append(distance.euclidean(jj, A_negativo))
    
    # Passo 5: O valor de cada alternativa é dado por r
    r = []
    for ii in range(len(d_negativo)):
        r.append(d_negativo[ii]/(d_negativo[ii]+ d_positivo[ii]))
    
    # Passo 6 Odenar as alternativas de acordo com os índeces da ordenação crescente do valor r
    frame['Ordenamento_topsis'] = r
    final = list(frame.sort_values(by='Ordenamento_topsis', ascending=False)[primeira_col])
    ordem = 1
    for x in final:
        print(f'{ordem}° Lugar -->', x)
        ordem += 1
    return frame

In [4]:
# Tabela apresentada 
# ['Bira', 'Vanessa', 'José Gomes', 'Flavia', 'Douglas', 'Cleide', 'Dicia', 'Ranualdo', 'Mauro', 'Peru']
d = {'Alternativas': ['Funcionário 1', 'Funcionário 2', 'Funcionário 3', 'Funcionário 4', 'Funcionário 5',
                      'Funcionário 6', 'Funcionário 7', 'Funcionário 8', 'Funcionário 9', 'Funcionário 10'],
     'Ticket Médio': [25.3, 24.6, 28.5, 23.6, 25.1, 24.3, 27.7, 23.7, 25.7, 40.6],
     'Qualidade do Atendimento': [6.7, 7.0, 5.7, 6.3, 7.5, 8.7, 8.3, 7.3, 7.2, 8.5], 
     'Detalhes Pessoais': [8.0, 7.0, 6.0, 6.3, 7.3, 8.2, 8.0, 7.7, 7.3, 7.7], 
     'Relacionamento interpessoal': [8.3, 7.3, 7.0, 7.0, 8.3, 9.0, 8.7, 7.3, 8.2, 8.3] 
    }
# Critério MAX e MIN
crit_max = [True, True, True, True]
# Pesos: w
w = [0.25, 0.25, 0.25, 0.25]
df = pd.DataFrame(data=d)
df

,Alternativas,Ticket Médio,Qualidade do Atendimento,Detalhes Pessoais,Relacionamento interpessoal
0,Funcionário 1,25.3,6.7,8.0,8.3
1,Funcionário 2,24.6,7.0,7.0,7.3
2,Funcionário 3,28.5,5.7,6.0,7.0
3,Funcionário 4,23.6,6.3,6.3,7.0
4,Funcionário 5,25.1,7.5,7.3,8.3
5,Funcionário 6,24.3,8.7,8.2,9.0
6,Funcionário 7,27.7,8.3,8.0,8.7
7,Funcionário 8,23.7,7.3,7.7,7.3
8,Funcionário 9,25.7,7.2,7.3,8.2
9,Funcionário 10,40.6,8.5,7.7,8.3

In [5]:
resultado1 = topsis(crit=crit_max, peso=w, frame=df)
resultado1

1° Lugar --> Funcionário 10
2° Lugar --> Funcionário 7
3° Lugar --> Funcionário 6
4° Lugar --> Funcionário 5
5° Lugar --> Funcionário 1
6° Lugar --> Funcionário 9
7° Lugar --> Funcionário 8
8° Lugar --> Funcionário 2
9° Lugar --> Funcionário 3
10° Lugar --> Funcionário 4

,Alternativas,Ticket Médio,Qualidade do Atendimento,Detalhes Pessoais,Relacionamento interpessoal,Ordenamento_topsis
0,Funcionário 1,25.3,6.7,8.0,8.3,0.357383
1,Funcionário 2,24.6,7.0,7.0,7.3,0.250354
2,Funcionário 3,28.5,5.7,6.0,7.0,0.200161
3,Funcionário 4,23.6,6.3,6.3,7.0,0.103378
4,Funcionário 5,25.1,7.5,7.3,8.3,0.362831
5,Funcionário 6,24.3,8.7,8.2,9.0,0.485967
6,Funcionário 7,27.7,8.3,8.0,8.7,0.519182
7,Funcionário 8,23.7,7.3,7.7,7.3,0.317648
8,Funcionário 9,25.7,7.2,7.3,8.2,0.345119
9,Funcionário 10,40.6,8.5,7.7,8.3,0.872497

In [6]:
w = [0.40, 0.30, 0.15, 0.15]
resultado3 = topsis(crit=crit_max, peso=w, frame=df)
resultado3

1° Lugar --> Funcionário 10
2° Lugar --> Funcionário 7
3° Lugar --> Funcionário 6
4° Lugar --> Funcionário 5
5° Lugar --> Funcionário 9
6° Lugar --> Funcionário 3
7° Lugar --> Funcionário 8
8° Lugar --> Funcionário 1
9° Lugar --> Funcionário 2
10° Lugar --> Funcionário 4

,Alternativas,Ticket Médio,Qualidade do Atendimento,Detalhes Pessoais,Relacionamento interpessoal,Ordenamento_topsis
0,Funcionário 1,25.3,6.7,8.0,8.3,0.219877
1,Funcionário 2,24.6,7.0,7.0,7.3,0.191935
2,Funcionário 3,28.5,5.7,6.0,7.0,0.243453
3,Funcionário 4,23.6,6.3,6.3,7.0,0.084462
4,Funcionário 5,25.1,7.5,7.3,8.3,0.266005
5,Funcionário 6,24.3,8.7,8.2,9.0,0.362551
6,Funcionário 7,27.7,8.3,8.0,8.7,0.410660
7,Funcionário 8,23.7,7.3,7.7,7.3,0.224010
8,Funcionário 9,25.7,7.2,7.3,8.2,0.251860
9,Funcionário 10,40.6,8.5,7.7,8.3,0.937301

# PROMETHEE

In [7]:
def usual(frame, coluna, i, j, matriz, crit_max):
    q1 = frame.loc[j, frame.columns[coluna]]
    q2 = frame.loc[i, frame.columns[coluna]]
    if crit_max[coluna-1]:
        if q1-q2 == 0:
            matriz[i, j] = 0
        elif q1-q2 > 0:
            matriz[i, j] = 0
        elif q1-q2 < 0:
            matriz[i, j] = 1
    else:
        if q1-q2 == 0:
            matriz[i, j] = 0
        elif q1-q2 > 0:
            matriz[i, j] = 1
        elif q1-q2 < 0:
            matriz[i, j] = 0
    return matriz

In [8]:
def metodo_promethee(frame, peso, preferencia, crit_max, promethee):
    for i in frame.columns:
        if i == 'Ordenamento_saw':
            frame.drop(columns=['Ordenamento_saw'], inplace=True)
        if i == 'Ordenamento_topsis':
            frame.drop(columns=['Ordenamento_topsis'], inplace=True)
        if i == 'Promethee_II':
            frame.drop(columns=['Promethee_II'], inplace=True)
        else:
            pass
    
    # juntar todas as respostas
    resultado = []
    for k in range(1, len(frame.columns)):
        # Tamanho da Matriz de decisão
        tamanho = len(frame)

        # Matriz da comparação par a par dos critérios
        matriz = np.zeros((tamanho, tamanho), dtype=float)
        # Resultado da sua matriz 
        sua_matriz = []
        if preferencia == 'usual':
            for i in range(tamanho):
                for j in range(tamanho):
                    # Escolher qual a Matriz de Preferencia
                    matriz = usual(frame, k, i, j, matriz, crit_max)
            resultado.append(matriz)

    # Matriz M 
    # número de vitórias
    matriz = np.sum([kk*k for kk, k in zip(resultado,peso)], axis=0)
    
    # Matriz do Fluxo Positivo e Negativo
    matriz_fluxo = [[np.sum(_)/(len(_)-1) for _ in matriz], [np.sum(_)/(len(_)-1) for _ in matriz.T]]

    if promethee == 2:
        resultado = list(matriz_fluxo[0][_] - matriz_fluxo[1][_] for _ in range(len(matriz_fluxo[0])))
        
        # Passo 6 Odenar as alternativas de acordo com os índeces da ordenação crescente do valor r
        frame['Promethee_II'] = resultado
        final = list(frame.sort_values(by='Promethee_II', ascending=False)[frame.columns[0]])
        ordem = 1
        for x in final:
            print(f'{ordem}° Lugar -->', x)
            ordem += 1

    return frame

In [9]:
resultado2 = metodo_promethee(frame=df, peso=w, preferencia='usual', crit_max=crit_max, promethee=2)
resultado2

1° Lugar --> Funcionário 10
2° Lugar --> Funcionário 7
3° Lugar --> Funcionário 6
4° Lugar --> Funcionário 5
5° Lugar --> Funcionário 9
6° Lugar --> Funcionário 1
7° Lugar --> Funcionário 3
8° Lugar --> Funcionário 8
9° Lugar --> Funcionário 2
10° Lugar --> Funcionário 4

,Alternativas,Ticket Médio,Qualidade do Atendimento,Detalhes Pessoais,Relacionamento interpessoal,Promethee_II
0,Funcionário 1,25.3,6.7,8.0,8.3,0.027778
1,Funcionário 2,24.6,7.0,7.0,7.3,-0.383333
2,Funcionário 3,28.5,5.7,6.0,7.0,-0.272222
3,Funcionário 4,23.6,6.3,6.3,7.0,-0.883333
4,Funcionário 5,25.1,7.5,7.3,8.3,0.072222
5,Funcionário 6,24.3,8.7,8.2,9.0,0.377778
6,Funcionário 7,27.7,8.3,8.0,8.7,0.605556
7,Funcionário 8,23.7,7.3,7.7,7.3,-0.311111
8,Funcionário 9,25.7,7.2,7.3,8.2,0.050000
9,Funcionário 10,40.6,8.5,7.7,8.3,0.716667

In [10]:
w = [0.40, 0.30, 0.15, 0.15]
resultado4 = metodo_promethee(frame=df, peso=w, preferencia='usual', crit_max=crit_max, promethee=2)
resultado4

1° Lugar --> Funcionário 10
2° Lugar --> Funcionário 7
3° Lugar --> Funcionário 6
4° Lugar --> Funcionário 5
5° Lugar --> Funcionário 9
6° Lugar --> Funcionário 1
7° Lugar --> Funcionário 3
8° Lugar --> Funcionário 8
9° Lugar --> Funcionário 2
10° Lugar --> Funcionário 4

,Alternativas,Ticket Médio,Qualidade do Atendimento,Detalhes Pessoais,Relacionamento interpessoal,Promethee_II
0,Funcionário 1,25.3,6.7,8.0,8.3,0.027778
1,Funcionário 2,24.6,7.0,7.0,7.3,-0.383333
2,Funcionário 3,28.5,5.7,6.0,7.0,-0.272222
3,Funcionário 4,23.6,6.3,6.3,7.0,-0.883333
4,Funcionário 5,25.1,7.5,7.3,8.3,0.072222
5,Funcionário 6,24.3,8.7,8.2,9.0,0.377778
6,Funcionário 7,27.7,8.3,8.0,8.7,0.605556
7,Funcionário 8,23.7,7.3,7.7,7.3,-0.311111
8,Funcionário 9,25.7,7.2,7.3,8.2,0.050000
9,Funcionário 10,40.6,8.5,7.7,8.3,0.716667